.Cart {
  width: 100%;
  text-align: center;

  &--item,
  &--header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
  }

  &--total {
    padding: 10px 20px;
    text-align: right;
  }

  label {
    font-weight: 700;
  }
}
